.title {
    text-align: center;
}

.email {
    text-transform: none;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.grid-item div{
    background-color: #50b3de;
    border-radius: 10px !important;
}

.del {
    background-color: red;
    color:white;
    font-weight: bold;
}