.title {
    text-align: center;
}

.email {
    text-transform: none;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
}

.grid-item div {
    background-color: rgb(9, 142, 38);
}