.box {
    margin: 50px;
}

.title_page {
    text-align: center;
    white-space: pre-wrap;
}

.text_page {
    font-size: larger;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
}