.title {
    text-align: center;
    white-space: pre-wrap;
}

.text {
    font-size: medium;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    border-radius: 0px !important;
}

.email {
    text-transform: none;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.grid-item div {
    background-color: #50b3de;
    border-radius: 15px;
}

.del {
    background-color: red;
    color: white;
    font-weight: bold;
}