.bar {
	display: flex;
	direction: row;
	justify-content: space-around;
	padding: 10px;
	background-color: antiquewhite;
}

.home:hover {
	color: crimson;
}

.ideas:hover {
	color: lightgreen;
}

.profile:hover {
	color: cyan;
}

.sx {
	display: flex;
	align-items: center;
	text-align: center;
}

.align {
	align-items: center;
	text-align: center;
}