.bar {
	display: flex;
	direction: row;
	justify-content: space-around;
	padding: 10px;
	background-color: antiquewhite;
}

.sx {
	display: flex;
	align-items: center; 
	text-align: center;
}

.align{
	align-items: center;
	text-align: center;
}