.positions {
    text-align: center;
}

.edit {
    background-color: lightgreen;
}

.cancel {
    background-color: antiquewhite;
}

.createidea:hover {
    color: green;
}

.create_idea a {
    border-radius: 10px;
    color: #0f8f06;
    background: #5df55d;
    border-bottom: 5px solid #8af07d;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.create_idea a:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.abvg{
    display: flex;
	direction: row;
	justify-content: space-around;
}